DEBUG=boolean
DBUSER=someDBUSER
DBPASSWD=somePASSWRD

EMAIL_HOST=someHOST
EMAIL_HOST_USER=someuser
EMAIL_HOST_PASSWORD=somePASSWORD
EMAIL_PORT=somePORT
EMAIL_SENDER=someEMAIL
TEST_EMAIL_RECIPIENT=someRecipent
VERIFY_EMAIL_URL=someURL
ALGOLIA_APPLICATION_ID=someID
ALGOLIA_API_KEY=somekey
REDIS_URL= someREDISURL
